{% extends 'blog/base.html' %}
{% block content %}
    <h1 style="color:#0099ff">About Me</h1>
    <br>
    <div>My name is Rajat Pachauri, I am from Agra, Uttar Pradesh, currently living in Rajkot, Gujarat. I have completed my 3rd year B.Tech-CSE from Indian Institute of Information Technology Vadodara (IIITV) , I have interest in machine learning, natural language processing, web development using Django, Artificial Intelligence, Mathematics, problem solving.</div>
    <br>
    <h3 style="color:#0099ff"><b>Skills</b></h3>
    <br>
    <div>Python</div>
    <div>C++</div>
    <div>Flask</div>
    <div>Django</div>
    <div>Machine Learning</div>
    <div>Artificial Intelligence</div>
    <div>RASA</div>
    <div>Problem Solving</div>
    <div>Mathematics</div>
    <div>Natural Language Processing</div>
    <br>
    <h3 style="color:#0099ff"><b>About this project</b></h3>
    <br>
    <div>This project is developed in python based framework django,It is a blogging website where users can register themself and write blogs. Registered users can also view posts by other users and share their opinion in comment section however they need to login for the same, non registered users can still view the blog except for they can't comment on other users's post.</div>
{% endblock content %}