body {
    background-image: url("https://coolwallpapers.me/th700/5290495-pencil-wooden-color-tip-point-white-desk-art-drawing-draw-work-space-white-background-minimal-simple-writing-write-blogging-blog-business-png-images.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color: #0096c7;
}